<% layout('layouts/boilerplate') %>
  <div>
    <a href="/studios/new">Add a studio</a>
  </div>
  <h1>All studios</h1>
  <ul>
    <% for(let studio of studios) { %>
      <li><a href="/studios/<%= studio._id %>">
          <%= studio.name %>
        </a></li>
      <% } %>
  </ul>
