<% layout('layouts/boilerplate') %>

  <form action="/studios" method="POST">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="studio[name]">
    </div>
    <div>
      <label for="name">Description: </label>
      <input type="text" id="name" name="studio[description]">
    </div>
    <div>
      <label for="name">Location: </label>
      <input type="text" id="location" name="studio[location]">
    </div>
    <div>
      <label for="price">Price: </label>
      <input type="text" id="price" name="studio[price]">
    </div>
    <button>Submit</button>
  </form>
  <footer>
    <a href="/studios">All studios</a>
  </footer>
